.sidebar {
  width: 60px;
  background: #1e1e1e;
  border-right: 1px solid #333;
  display: flex;
  flex-direction: column;
  position: relative;

  &__content {
    padding: 1rem;
  }

  &__placeholder {
    color: #666;
    font-size: 0.75rem;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin: 0;
  }
}
