<section class="hero surface">
  <div class="hero-content">
    <h1 class="hero-title">
      Hi, I’m <span class="accent">Fabián</span>
    </h1>

    <h2 class="hero-subtitle">
      Frontend Engineer focused on scalable, high-quality web architecture
    </h2>

    <p class="hero-description">
      I build modern Angular applications with strong architecture,
      performance in mind, and clean user experience.
    </p>

    <div class="hero-actions">
      <a routerLink="/portfolio/projects" class="primary-btn">
        View Projects
      </a>

      <a routerLink="/portfolio/contact" class="secondary-btn">
        Contact Me
      </a>
    </div>
  </div>
</section>

